@font-face {
  font-family: 'KawitFree-title';
  src: url('/KawitFree-ExtItalic.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'KawitFree-text';
  src: url('/KawitFree-CndItalic.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Korporal';
  src: url('/MalibataRedux-Korporal.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Malibata';
  src: url('/Malibata-Neue.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DelaRobb';
  src: url('/DELAROBB.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}